{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
	<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<header>
	<div class="example-wrapper">
		<nav>
			<ul>
				<li><ahref="{{ path('index') }}">logo</a></li>
				<li><ahref="{{ path('quiz') }}">Les quiz</a></li>
				<li><ahref="{{ path('page_parents') }}">Pour les parents</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>Inscription</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.username, {
            label: 'Choisi ton pseudo : '
        }) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Choisi ton mot de passe : '
        }) }}
		{{ form_row(registrationForm.age, {
            label: 'Ton âge :'
        }) }}
		{{ form_row(registrationForm.avatar, {
            label: 'Choisi ton avatar '
        }) }}
		{#  // Faire une boucle affichage des images du assets (en carousel) #}
		<img src="{{ asset('assets/user-frame-33.png') }}" alt="Momo_du_17"/>
		{{ form_row(registrationForm.agreeTerms,{ 
             label: 'J\'accèpte les règles du site' 
             }) }}

        <button type="submit" class="btn">Ok</button>
    {{ form_end(registrationForm, {'render_rest' : false}) }}
    </main>
{% endblock %}
